[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://staticdelivery.nexusmods.com/mods/1151/images/8976-2-1453716959.jpg
Type=Link
URL=http://staticdelivery.nexusmods.com/mods/1151/images/8976-2-1453716959.jpg
Icon=image-jpeg
